* {
    margin: 5px;
    padding: 0px;
    box-sizing: border-box;
}
body {
  
    background-color:#aed6f1;
    margin: 0;
    padding: 0;
    height: 100vh;
    justify-content: center;
    align-items: center;
    justify-content: center;
    
}
#menu-btn
{
    height: 30px;
    width: 30px;
}
/* styles.css */
.Barre-Latérale {
  display: none; /* Masquer la barre latérale par défaut */
  background-color: white;
  padding: 2rem;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  width: 250px;
  height: 500px;  
  text-align: left;
  position: absolute; /* Pour l'aligner correctement */
  left: 0;
  top: 50px;
  list-style:none;  
}
.Barre-Latérale li {
    margin-bottom: 30px; /* Ajuste la valeur selon l'espacement souhaité */
}
.Barre-Latérale h1 {
    margin-bottom: 20px; /* Ajuste la valeur selon l'espacement souhaité */
}
.Barre-Latérale.visible {
  display: block; /* Afficher la barre latérale quand elle a la classe 'visible' */
}
.Entree h2{
    text-align: center;
}
.Entree p{
    text-align: center;
    color: #ffffdb;
    
}
#to-do-app {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}
#new-todo{
    padding: 20px;
    width:300px;
    height:50px;
    border: 1px solid #ccc;
  border-radius: 4px;
}






  
